<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/homepage">E-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:class="${home + ' nav-item'}">
                <a class="nav-link" href="/homepage">Home<span class="sr-only">(current)</span></a>
            </li>
            <li th:class="${books + ' nav-item'}">
                <a class="nav-link" href="/books">Books</a>
            </li>

            <li th:class="${cart + ' nav-item'}">
                <a class="nav-link" href="/cart">Cart</a>
            </li>

            <li class="nav-item">
                <div sec:authorize="hasAuthority('Admin')">
                    <a th:class="${admin + ' nav-link'}" href="/adminPage">Admin page</a>
                 </div>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
        <li class="nav-item dropdown">
            <div sec:authorize="isAuthenticated()">
            <a th:class="${profile + ' nav-link dropdown-toggle'}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name">

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/orders">Orders</a>
                <a class="dropdown-item" href="/profileSettings">Settings</a>
            </div>
            </div>
        </li>
        <li class="nav-item">
            <div sec:authorize="!isAuthenticated()" >
                <a class="nav-link" href="/login">Log in</a>
            </div>
        </li>
        <li class="nav-item">
            <div sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/registration">Sign up</a>
            </div>
        </li>
        <li class="nav-item">
            <div sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">Log out</a>
            </div>
        </li>
        </ul>
    </div>
</nav>
</body>
</html>
