<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/homepage">E-Shop</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:class="${books + ' nav-item'}">
                <a class="nav-link" href="/books">Books</a>
            </li>

            <li th:class="${cartLink + ' nav-item'}">
                <a class="nav-link" href="/cart">Cart</a>
            </li>

            <li class="nav-item dropdown">
                <div sec:authorize="hasAuthority('Admin')">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                       id="navbarDropdown2" role="button" th:class="${admin + ' nav-link dropdown-toggle'}">Admin page</a>
                    <div aria-labelledby="navbarDropdown2" class="dropdown-menu">
                        <a class="dropdown-item" href="/adminPage/adminOrders">Orders</a>
                        <a class="dropdown-item" href="/adminPage/adminStats">Statistics</a>
                        <a class="dropdown-item" href="/adminPage/adminManageBooks">Manage books</a>
                        <a class="dropdown-item" href="/adminPage/adminManageCategories">Manage categories</a>
                    </div>
                </div>
            </li>
            <li claa="nav-item">
                <div sec:authorize="hasAuthority('User')">
                    <a href="/checkout" th:class="${checkoutLink + ' nav-link'}">Check out</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-item dropdown">
                <div sec:authorize="isAuthenticated()">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button" sec:authentication="name" th:class="${profile + ' nav-link dropdown-toggle'}">

                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="/orders">Orders</a>
                        <a class="dropdown-item" href="/profileSettings">Settings</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Log in</a>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/registration">Sign up</a>
                </div>
            </li>
            <li class="nav-item">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
