<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:insert="htmlparts/header.html"></head>
  <body class="bg-light">
  <nav th:replace="~{htmlparts/navbar.html :: navbar (books='active') }"></nav>
    <div class="container">
    <h1>Books</h1>
      <div class="card-columns">
        <div th:each="book : ${books}"  class="card" style="width: 18rem;">
          <img src="images/placeholder.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" th:text="${book.name + '. ' + book.author}"></h5>
            <p class="card-text" th:text="${'Amount left: ' + book.amount}"></p>
            <p class="card-text" th:text="${'Pages: ' + book.pages}"></p>
            <p class="card-text" th:text="${'Price: ' + book.price + '$'}"></p>
            <p class="card-text" th:each="category : ${book.bookCategories}" th:text="${'Categorys: ' + category.name + ' '}"></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    <br>
  </div>
  </body>
</html>
