<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>E-shop</title>
    <link href="css/signin.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="js/functions.js" type="text/javascript"></script>

</head>
<body class="text-center" style="background-color: #f5f5f5">
<form action="/login" class="form-signin" id="loginForm" method="POST" name="login">
    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div style="background-color: #ffccdf; font-family: 'Century Gothic';" th:if="${user != null}"
         th:text="${'New user ' + user.username + ' registered!'}"></div>
    <label class="sr-only" for="username">Username</label>
    <input autofocus="" class="form-control" id="username" name="username" placeholder="Username" type="text">

    <label class="sr-only" for="password">Password</label>
    <input class="form-control" id="password" name="password" placeholder="Password" type="password">

    <button class="btn btn-lg btn-primary btn-block" onclick="doLogin()" type="submit">Sign in</button>

    <p><a href="/registration">Don't have an account? <br>Register now!</a></p>
    <p><a href="/homepage">Back to home page</a></p>
</form>
</body>
</html>
