<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>E-shop</title>
    <link href="css/signin.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/toastr.min.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="js/toastr.min.js" type="text/javascript"></script>
    <script src="/js/functions.js" type="text/javascript"></script>
</head>
<body class="text-center" style="background-color: #f5f5f5">
<form class="form-signin" id="registrationForm" method="POST" th:object="${user}">

    <h1 class="h3 mb-3 font-weight-normal">New account</h1>

    <label class="sr-only" for="username">Username</label>
    <input autofocus="autofocus" class="form-control" id="username" name="username" placeholder="Username" required=""
           th:value="${user?.username}" type="text">

    <label class="sr-only" for="firstname">First name</label>
    <input autofocus="autofocus" class="form-control" id="firstname" name="firstName" placeholder="First name" required=""
           th:value="${user?.firstName}" type="text">

    <label class="sr-only" for="lastname">Last name</label>
    <input class="form-control" id="lastname" name="lastName" placeholder="Last name" required="" th:value="${user?.lastName}"
           type="text">

    <label class="sr-only" for="birthdate">Email address</label>
    <input class="form-control" id="birthdate" name="birthdate" placeholder="birthday" required="" th:value="${user?.birthdate}"
           type="date">

    <label class="sr-only" for="inputEmail">Email address</label>
    <input class="form-control" id="inputEmail" name="email" placeholder="Email address" required="" type="email">

    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control" id="inputPassword" name="password" placeholder="Password" required="" type="password">

    <button class="btn btn-lg btn-primary btn-block" onclick="register()" type="submit">Sign up</button>

    <div style="background-color: #ffccdf; font-family: 'Century Gothic';" th:if="${error != null}"
         th:text="${error}"></div>

    <p><a href="/login">Already have an account?<br>Sign in</a></p>
    <div id="error"></div>
    <p><a href="/homepage">Back to home page</a></p>
</form>
</body>
</html>
